# ignore all batch files
*.bat

# ignore characters
daehogel.txt
mod maxime.txt
dae.txt

# ignore batch files that made it through somehow
Acheron Client/2. Compile.bat
Acheron Client/3. Run.bat
Acheron Client/sign/singlink Compiler.bat
Acheron Source/Data/ChatLogs/daehogel.txt
